*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.container {
  background: linear-gradient(
    90deg,
    rgb(157, 234, 243) 0%,
    rgb(105, 198, 226) 25%,
    rgb(89, 121, 228) 100%
  );
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: rgba(253, 251, 251, 0.244);
  height: 90%;
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
}
.data {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  width: 90%;
  justify-items: center;
}
.top {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: white;
  letter-spacing: 0.5px;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.inp {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
#userCity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.seeWeather {
  width: 40%;
  background-color: rgba(253, 251, 251, 0);
  border: 2px solid rgb(223, 219, 219);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  border-radius: 10px;
  letter-spacing: -0.25px;
  font-size: larger;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 5px 10px;
  align-self: center;
}
#cityName {
  grid-column: 1/-1;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: xx-large;
  padding: 0;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
#temp {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: flex-start;
}

.num {
  color: white;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -4px;
}

.unit {
  color: white;
  font-size: 28px;
  margin-left: 6px;
  margin-top: 6px; /* vertical offset */
}

#feelLike {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
}
.tempTop {
  color: white;
  font-family: 'Inter', sans-serif;
  text-decoration: underline;
  font-weight: 900;
  font-size: x-large;
  letter-spacing: -2px;
}
.tempNum {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 28px;
}
.temp {
  display: flex;
  align-items: center;
}
.dataCellTemp {
  display: flex;
  align-items: center;
}
